{% extends "base.jinja.html" %}
{% from "bootstrap/utils.html" import flashed_messages %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro render_tpl_list(tpl_list) %}
    {% if tpl_list |length %}
        <ul class="media-list">
            {% for tpl in tpl_list %}
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="{{ tpl.image or url_for('static', filename='img/blank-badge.jpg') }}" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <div>
                            <h4 class="media-heading">{{ tpl.name }}</h4>
                            <p>{{ tpl.description }}</p>
                        </div>
                        {{ render_tpl_list(tpl.extended_by) }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block content %}
    {{ super() }}
    <div class="row-fluid">
        <div class="col-sm-6 badge-template-list">
            {{ render_tpl_list(root_templates) }}
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Print Queue</div>
                <div class="panel-body">
                    <form method="POST" action="{{ url_for('index.queue') }}">
                        <a class="btn btn-xs btn-info" href="{{ url_for('index.print') }}" target="_blank">
                            <i class="fa fa-print"></i>
                            Print
                        </a>
                        <button class="btn btn-xs btn-primary" type="submit" name="action" value="queue-unprinted">
                            <i class="fa fa-plus"></i>
                            Queue Unprinted
                        </button>
                        <button class="btn btn-xs btn-warning" type="submit" name="action" value="queue-all">
                            <i class="fa fa-asterisk"></i>
                            Queue All
                        </button>
                        <button class="btn btn-xs btn-danger" type="submit" name="action" value="unqueue">
                            <i class="fa fa-trash"></i>
                            Clear Queue
                        </button>
                    </form>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Template</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for badge in badges %}
                        <tr>
                            <td>{{ badge.name }}</td>
                            <td>
                                {% if badge_templates[badge.id] |length == 0 %}
                                    <span class="label label-danger">No Matching Template</span>
                                {% else %}
                                    {% if badge_templates[badge.id] |length > 1 %}
                                        <span class="label label-danger">Multiple Matches</span>
                                    {% endif %}
                                    {% for tpl in badge_templates[badge.id] %}
                                        {{ tpl.name }}{{ ', ' if not loop.last }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <form method="POST" action="{{ url_for('index.queue') }}">
                                    <input type="hidden" name="id" value="{{ badge.id }}" />
                                    <button class="btn btn-xs btn-danger" type="submit" name="action" value="unqueue">
                                        <i class="fa fa-trash"></i>
                                        Unqueue
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
